extends layout/layout.pug
block content
  
  .row
    .col.s10.offset-s1.m10.offset-m1
      .center(style="")
        h4 Crear Usuario
        img.center(src="../static/img/logo.jpg", alt="" style="border-radius:10%;" )
      form.col.s12(method='POST' action='/signup')
        .row
          fieldset.col.s12.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px; margin-bottom: 12px;')
            legend Correo Electronico
            input.black-text(type='email' name='email' placeholder='Correo electronico' style='border: none;margin-bottom: 20px;width: 90%;color:black' )
          fieldset.col.s12.center.black-text(style='border: 1px solid #bdbdbd; border-radius: 12px;')
            legend Contraseña
            input.black-text(type='password' name='password' placeholder='Contraseña' style='border: none;margin-bottom: 20px;width: 90%;' )
        .row
          .col.m6.s12
            button.boton.btn.pink.lighten-2.col.s12(value='Ingresar' type='submit' style='border-radius: 10px; margin-top: 20px;')
              i.material-icons.right login
              | Ingresar

          .col.m6.s12
            a.btn.pink.col.s12.lighten-4.boton(href='/' style='border-radius: 10px;margin-top: 20px; ')
              i.material-icons.left chevron_left
              | Volver

        